@charset "utf-8";
html{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
    -webkit-overflow-scrolling: touch;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
dl,dd{margin: 0;}
a, img, input, button, div, li, span {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
a{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: transparent;
    outline: none;
    color: #000;
}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: currentColor;}
img{border: 0;}
input, button, select {
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
	background: transparent;
	-webkit-appearance: none;
}
/*页面主体*/
body{
	background: #f3f3f3;
}
body.wrapper-bgcolor{
	background: #fff;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
}
.wrapper img{display: block;width: 100%;}
.icon-back{display: inline-block;background: url(images/part-icon.png) no-repeat; background-size: 180px;}

/**********公共头部**********/
.wrapper-header{
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
}
.wrapper-header:after{
    content: '';
    display: block;
    height: 40px;
}
.wrapper-hd{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 750px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff5455;
    z-index: 999;
}
.wrapper-hd .hd-title{
    margin: 0 45px;
    font-size: 17px;
    font-family: Arial, "Microsoft Yahei";
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wrapper-hd .hd-left,
.wrapper-hd .hd-right{
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
}
.wrapper-hd .hd-left{
    float: left;
    margin-left: 5px;
}
.wrapper-hd .hd-right{
    float: right;
    margin-right: 5px;
}
.wrapper-hd .icon-back{
	width: 30px;
	height: 30px;
    background-position: 0 -122px;
}

/*增加地址页面*/
.address-add .base-info{position:relative;margin:10px 0;width:100%;background:#fff;font-size:14px;}
.address-add .base-info li{overflow:hidden;padding:0 3%;width:94%;height:42px;line-height:42px;border-bottom:1px solid #f3f3f3;}
.address-add .base-info .title{float:left;width:30%;}
.address-add .base-info .info{width:70%;}
.address-add .base-info select{width:70%;}
.address-add .base-info input,select{font-size:14px;}
.address-add .base-info .tool-switch{position:absolute;top:50%;right:4%;margin-top:-12px;width:40px;height:24px;border-radius:24px;background:#02b700;box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2);cursor:pointer;-webkit-transition:all .2s ease;transition:all .2s ease;}
.address-add .base-info .on{background:#02b700;}
.address-add .base-info .off{background:#919191;}
.address-add .base-info .icon-switch{position: absolute;top: 0;right: 0;border: 1px solid #02b700;width: 22px;height: 22px;border-radius: 50%;background: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);-webkit-transition: all .2s ease;transition: all .2s ease;}
.address-add .base-info .on .icon-switch{right:0;border-color:#02b700;}
.address-add .base-info .off .icon-switch{right:15px;border-color:#919191;}
/*增加地址和邮寄地址共用底部按钮*/
.address-add .footer,.address-post .footer{position:fixed;bottom:0;left:0;right:0;margin:auto;width:100%;max-width:750px;height:60px;background:#fff;}
.address-add .footer .sure-btn,.address-post .footer .sure-btn{display:block;width:40%;height:36px;line-height:36px;margin:0 auto;margin-top:12px;background:#02b700;color:#fff;font-size:16px;text-align:center;border-radius:4px;}
/*选择地区页面*/
.address-select p{margin:0;padding:0;}
.address-select .list{width:100%;}
.address-select .list li{padding-left:3%;width:97%;height:40px;line-height:40px;border-bottom:1px solid #e3e3e3;color:#444;font-size:14px;}
.address-select .list li a{width:100%;}
.address-select .previous{padding-left:3%;width:97%;height:40px;line-height:40px;border-bottom:1px solid #e3e3e3;color:#444;font-size:14px;}
.address-select .province{background:#d9d9d9;}
.address-select .city{background:#e9e9e9;}
/*邮寄地址页面*/
.address-post{padding-bottom:120px;}
.address-post p{margin:0;padding:0;}
.address-post .address-list{width:100%;background:#fff;}
.address-post .address-list li{overflow:hidden;padding:0 3%;width:94%;height:86px;border-bottom:1px solid #e3e3e3;}
.address-post .address-list .info{float:left;width:90%;}
.address-post .info .base{width:100%;overflow:hidden;margin-top:12px;color:#2d2d2d;line-height:22px;}
.address-post .info .name{float:left;font-size:16px;}
.address-post .info .tele{float:right;font-size:14px;}
.address-post .info .address{font-size:12px;line-height:20px;}
.address-post .info .default{color:#ff0100;}
.address-post .address-list .select{position:relative;float:left;width:10%;height:100%;}
.address-post .address-list .icon{position:absolute;left:50%;top:50%;margin-left:-4px;margin-top:-10px;width:20px;height:20px;background:url(images/part-icon.png) no-repeat;background-size:180px;background-position:-107px -122px;}
.address-post .address-list .on{display:block;}
.address-post .address-list .off{display:none;}
